.image-container {
}

.clickable-overlay {
    position: absolute;
    border: 2px solid red; 
    border-radius: 50%; 
    pointer-events: none; 

.info-tile {
    display: none;
    position: absolute;
    width: 200px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.info-tile h2 {
    margin-top: 0;
}

.info-tile button {
    margin-top: 10px;
}
