.image-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Set to the width of the container or specific width */
    height: 500px; /* Set to the desired height */
    touch-action: none; /* Disable browser default touch actions in this element */
}

#map-image {
    width: 100%; /* Adjust based on your layout needs */
    transition: transform 0.3s ease; /* Smooth transitions */
}

/* Other styles remain unchanged */


.clickable-overlay {
    position: absolute;
    border-radius: 50%; 
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.5); /* Adding a slight background color for visibility */
    border: 2px solid #fff; /* White border for better visibility against map images */
}

.zoom-controls {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    background: white; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4p
    x rgba(0,0,0,0.1); 
    z-index: 1000; 
    display: flex; /* Added for better layout of buttons */
    gap: 5px; /* Spacing between buttons */
}

/* Hide zoom controls on mobile devices */
@media (max-width: 768px) {
    .zoom-controls {
        display: none;
    }
}

.zoom-controls button {
    padding: 5px 10px; /* More touch-friendly padding */
    font-size: 16px; /* Larger text for easier reading on small devices */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.zoom-controls button:hover,
.zoom-controls button:focus { /* Adding focus for accessibility */
    background-color: #0056b3;
}

.info-tile {
    display: none;
    position: absolute;
    width: 90%; /* Adjusted width for better mobile viewing */
    max-width: 350px; /* Maximum width to avoid overly large tiles on bigger screens */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease;
    box-sizing: border-box; /* Ensures padding does not affect the width */
}

.info-tile.active {
    display: block;
    opacity: 1;
}

.info-tile h2 {
    margin-top: 0;
    color: #333;
}

.info-tile button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin-top: 10px; /* Added margin for better separation from text */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.info-tile button:hover {
    background-color: #0056b3;
}
